// Import page-specific CSS files here.
@import "home";


.ber-title {
  font-family: 'TimesNow', 'Times New Roman', Times, serif;
  font-size: 8vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-color: #fe0000;
  line-height: 1.15;
}

.title a {
  text-decoration: none;
}

.articles {
  position: relative;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  left: 1vw;
  right: 1vw;
  padding-top: 15vw;
}

.simple_form {
  padding-top: 30vw;
}

.pic img {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic {
  // width: 100%;
}
