.page-container {
  line-height: 0;
}

.page-article {
  margin: 1vw 20vw;
}

.page-title h1 {
  font-family: 'Times New Roman', serif;
  text-align: center;
}

.page-content {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-weight: 100;
  text-align: justify;
}

.progress-bar {
  height: 8px;
  background: #fe0000;
  width: 0%;
}
