.page-container {
  line-height: 0;
  // min-height: 100%;
}

.page-title h1 {
  font-family: 'TimesNow', 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 5vw;
  font-weight: 600;
  margin: 1vw 0vw 1vw 20vw;
  background-color: #F4F4F4;
  padding: 1vw 2vw;
}

.page-content {
  font-family: 'TimesNow', 'Times New Roman', Times, serif;
  line-height: 2;
  font-weight: 100;
  text-align: justify !important;
  margin: 1em 20vw;
  position: relative;
}

.page-content span {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 100;
  padding: 0vw 2.5vw;
  font-size: 1em;
  opacity: 0.6;
}

.progress-bar {
  height: 8px;
  background: #fe0000;
  width: 0%;
}

.article-header {
  position: relative;
}

.page-title {
  position: absolute;
  bottom: -2vw;
}

.page-content img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.credits {
  position: absolute;
  bottom: 1vw;
}

@media (max-width: 800px) {
  .page-content {
  line-height: 2;
  font-weight: 100;
  text-align: justify !important;
  margin: 1vw 5vw;
  position: relative;
}
}

 h2, h3, h4, h5,
  .h2, .h3, .h4, .h5, {
  margin-bottom: 0.5rem;
  font-family: 'TimesNow', 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 1.2;
}

h6,
  .h6 {
    font-family: "Helvetica Neue",sans-serif;
    line-height: 2;
    font-weight: 400;
  }

