.page-container {
  line-height: 0;
  // min-height: 100%;
}

.page-title h1 {
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
  font-size: 6vw;
  font-weight: 600;
  margin: 1vw 0vw 1vw 20vw;
  background-color: #F4F4F4;
  padding: 1vw 2vw;
}

.page-content {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-weight: 100;
  text-align: justify !important;
  margin: 1.5vw 20vw;
  position: relative;
}

.page-content strong {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-weight: 400;
  text-align: justify !important;
  margin: 1.5vw 15vw;
  position: relative;
}

.page-content span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 0vw 2.5vw;
  opacity: 0.6;
}

.article-header {
  position: relative;
}

.page-title {
  position: absolute;
  bottom: -2vw;
}

.page-content img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.search-form-control {
  position: absolute;
  top: 4.5vw;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
}

.search-form-control .form-control {
  height: 3vw;
  border: none;
}

.search-form-control .form-control:focus {
  outline: none !important;
}

.credits {
  position: absolute;
  bottom: 1vw;
}

@media (max-width: 800px) {
  .page-content {
  line-height: 2;
  font-weight: 100;
  text-align: justify !important;
  margin: 3vw 5vw;
  position: relative;
}
}

 h2, h3, h4, h5, h6
  .h2, .h3, .h4, .h5, .h6 {
  margin: 2rem 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
