<div class='articles'>

<% @articles.each do |article| %>
    <tr>
      <div class='title'>
      <span class='ber-title'><%= article.title %></span>
      </div>
      <div class="pic">
      <img class="main-pic"><%= cl_image_tag article.photo.key %></img>
      </div>
<% end %>
     <!--
      <td><#%= link_to 'Show', article_path(article) %></td>
      <td><#%= link_to 'Edit', edit_article_path(article) %></td>
      <td><#%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <#% end %>
<td><#%= link_to 'New article', new_article_path %></td>
</div>
 -->
