<footer class="ber-footer">
  <div class="left-footer">
<% if user_signed_in? %>
  <div class="social">
    <%= link_to new_article_path do %>
      <p>Add Article</p>
     <% end %>
  </div>
  <% else %>
   <div class="social">
    <a href='/'>Logo</a>
  </div>
   <% end %>
   </div>
<div class='mediagroup'>
<h4>BerlinSchlag - all rights reserved - 2020</h4>
</div>
<div class="login">
   <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: "underline" do %>
    <button>Logout</button>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
      <button>Login</button>
    <% end %>
    <% end %>
</div>
</footer>
