<footer class="ber-footer">
  <div class="left-footer">
      <% if user_signed_in? %>
        <%= link_to new_article_path do %>
          <p>Add Article</p>
        <% end %>
      <% else %>
          <a id="email" href="mailto:hello@berlinschlag.com" target="_blank">hello(at)berlinschlag.com</a>
      <% end %>
  </div>
  <div class='mediagroup'>
    <h4>© 2020 BERLIN SCHLAG MAGAZINE</h4>
  </div>
  <div class="login">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "underline" do %>
        <button>Logout</button>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button>Login</button>
      <% end %>
    <% end %>
  </div>
</footer>
