<div class="header-ber">
<div class="navbar-berlin">
  <div class="dropdown">
  <button class="dropbtn"><i class="fas fa-grip-lines"></i></button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
  <div class="logo-container">
    <div class="logo">
  <a href="/">BerlinSchlag</a>
    </div>
  </div>

  <div class="social">
    <%= link_to 'New article', new_article_path %>
  </div>
</div>
</div>
