<div class="header-ber">
<div class="navbar-berlin">

  <div class="logo-container">
    <div class="dropdown">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">
  <a href="/">BerlinSchlag</a>
    </div>
     <div class="search">
       <i class="fas fa-search"></i>
     </div>
<div class="progress-bar" id="myBar"></div>
  </div>

</div>
</div>
