<div class="header-ber">
  <div class="navbar-berlin">
    <div class="logo-container">
      <div class="dropdown">
        <ion-icon id='sharp' name="flash-sharp"></ion-icon>
      </div>
      <div class="logo">
        <a href="/">BERLIN SCHLAG</a>
      </div>
      <div class="search">
        <ion-icon id="search-icon" name="search-outline"></ion-icon>
      </div>
      <div class="progress-bar" id="myBar"></div>
      <div class="search-form-control">
        <%= form_tag articles_path, method: :get do %>
          <div class="search-box">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type here mein schlag"
          %>
          </div>
        <%= submit_tag "Search", class: "btn btn-primary submit-btn"%>
      <% end %>
          <button type="submit" form="home-page-search" class="btn home-btn"></button>
        </div>
        </div>
    </div>
  </div>
