
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Berlin Schlag</a>
  <form class="form-inline">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </form>
</nav>
