.ber-footer {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vw;
}

.ber-footer p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.ber-footer h4 {
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 1vw;
  font-weight: 800;
}
