.ber-footer {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 1vw;
}

.ber-footer p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.5vw;
}

.ber-footer h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  order: 2;
}

.login button {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: none;
  font-size: 1.5vw;
  display: inline-block;
  background-color: #121212;
  text-align: center;
  cursor: pointer;
  order: 3;
}

.left-footer a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  order: 1;
  margin: 0 0;
  text-decoration: none;
}

.left-footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  order: 1;
  margin: 0 0;
  text-decoration: none;
}
