.header-ber {
  position: relative;
}

.navbar-berlin {
  display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 2vw;
    left: 0;
    width: 100%;
    z-index: 2;
}
.logo-container {
  background-color: #121212;
  padding-top: 0.7vw;
  margin: auto;
}

.logo {
  background-color: #black;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.logo a {
  font-family: 'Arimo', sans-serif;
  font-size: 3vw;
  font-weight: 800;
  text-decoration: none;
  color: white;
  padding: 1vw 1vw;
}

.social {
  margin-left: auto;
}

.tagline {
  margin-right: auto;
}

.social a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.tagline p {
  font-family: 'TimesNow', 'Times New Roman', Times, serif;
  font-style: italic;
}

