.navbar-berlin {
  display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 2vw;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 0vw 2vw;
}
.logo-container {
  background-color: #121212;
  padding-top: 0.7vw;
}

.logo {
  background-color: #black;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.logo a {
  font-family: 'Arimo', sans-serif;
  font-size: 3vw;
  font-weight: 800;
  text-decoration: none;
  color: white;
  padding: 1vw 1vw;

}

.social a {
  padding: 0vw 4vw;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.dropbtn {
  color: black;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

